<div class="row h-100">
    <div class="col-12 mb-3 d-flex justify-content-between">
        <h1>Stage 3</h1>
        <button mat-raised-button color="primary" matStepperNext [disabled]="AVAILABLE_PARTS.length > 0">Next Stage</button>
    </div>
    <!-- Parts -->
    <div class="col-3 parts-container h-100">
        <h1>Available Parts</h1>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="AVAILABLE_PARTS" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box mb-3" *ngFor="let part of AVAILABLE_PARTS; let first = first" [cdkDragDisabled]="!first" cdkDrag>
                <img src="{{part.imgSrc}}" alt="{{part.name}}" class="part-img">
            </div>
        </div>
    </div>

    <!-- Assembly -->
    <div class="col-9 workshop h-100">
        <h1>Assembled Parts</h1>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="ASSEMBLED_PARTS" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let part of ASSEMBLED_PARTS" cdkDrag [cdkDragDisabled]="true">
                <img src="{{part.imgSrc}}" alt="{{part.name}}" class="assembled-part-img">
            </div>
        </div>
    </div>
</div>