<h1 mat-dialog-title class="mb-3">
    {{data.title}}
</h1>
<div mat-dialog-content>
    <h2>
        {{data.bodyMessage}}
    </h2>

    <div *ngIf="data.showBoltTypes" class="d-flex flex-column">

        <button mat-raised-button color="primary" class="mb-3" (click)="selectBoltType(type)" *ngFor="let type of data.boltTypes" [disabled]="!type.isAvailable">
            {{type.name}}
        </button>


    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end" *ngIf="!data.showBoltTypes">
    <button mat-raised-button color="primary" (click)="closeDialog()" cdkFocusInitial>Ok</button>
</div>